<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <form
        action="/api/v1/user/register"
        method="post"
        class="container__register"
      >
        <h1>Registration</h1>

        <div class="form-group">
          <input
            type="text"
            name="firstName"
            id="name"
            required
            placeholder="First name:"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="lastName"
            id="name"
            required
            placeholder="Last name:"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="registrationNumber"
            id="name"
            required
            placeholder="Registration Number:"
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            name="phoneNumber"
            id="name"
            required
            placeholder="Phone Number:"
          />
        </div>

        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            required
            placeholder="Email:"
          />
        </div>

        <div class="form-group">
          <input
            type="password"
            name="password"
            id="password"
            required
            placeholder="Password:"
          />
        </div>

        <div class="form-group">
          <div class="search-box">
            <input
              type="text"
              id="courseSearch"
              placeholder="Search for a course"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="selectedCourses">Select Course:</label>
          <div class="courses">
            <% course.forEach(element => { %>

            <label for="<%= element.title %>"><%= element.title %></label>
            <input
              type="checkbox"
              id="selectedCourses"
              name="selectedCourses"
              value="<%= element.title %>"
            />
            <% }) %>
          </div>
        </div>

        <button type="submit">Submit</button>

        <div>
          <a href="/api/v1/user/login">Already a User? __Login>>>></a>
        </div>
      </form>
    </div>
  </body>
</html>
