<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <section class="auth-section">
        <div class="form-box">
          <div class="form-value">
            <form
              action="/api/v1/user/register"
              method="post"
              autocomplete="off"
              id="register-form"
            >
              <h2>Create Account</h2>
              <div class="inputbox">
                <i class="fa-regular fa-address-card"></i>
                <input type="text" name="firstName" required />
                <label for="firstName">First Name</label>
              </div>
              <div class="inputbox">
                <i class="fa-regular fa-address-card"></i>
                <input type="text" name="lastName" required />
                <label for="lastName">Last Name</label>
              </div>
              <div class="inputbox">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" name="email" required />
                <label for="email">Email</label>
              </div>
              <div class="inputbox">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" required />
                <label for="password">Password</label>
              </div>
              <div class="inputbox">
                <i class="fa-solid fa-hashtag"></i>
                <input type="text" name="registrationNumber" required />
                <label for="registrationNumber">Registration Number</label>
              </div>
              <div class="inputbox">
                <i class="fa-solid fa-phone"></i>
                <input type="text" name="phoneNumber" required />
                <label for="phoneNumber">Phone Number</label>
              </div>
              <div class="form-group">
                <label for="selectedCourses">SELECT COURSE:</label>
                <div class="courses-grid">
                  <% course.forEach(element => { %>
                  <div>
                    <label for="<%= element.code %>"><%= element.code %></label>
                    <input
                      type="checkbox"
                      id="selectedCourses"
                      name="selectedCourses"
                      value="<%= element.code %>"
                    />
                  </div>
                  <% }) %>
                </div>
              </div>

              <button type="submit">Submit</button>
              <div class="login">
                <p>
                  Already have an account?
                  <a href="/api/v1/user/login">Login</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>

    <script src="/js/register.js"></script>
  </body>
</html>
