<html>
  <%- include('./head.ejs') %>
  <body>
    <%- include('./navbar.ejs') %>

    <h1>CHART PAGE</h1>
    <% courses.forEach(course => { %>
    <h1>COURSE TITLE :<%= course.title %></h1>
    <!-- <h1><%= course.documents %></h1> -->

    <% course.documents.forEach(element => { %>

    <h4>DOCUMENT TYPE :<%= element.type %></h4>
    <h4>DOCUMENT DOWNLOAD COUNT :<%= element.downloadCount %></h4>
    <h4>DOCUMENT DOWNLOADEDBY:<%= element.downloadedBy %></h4>
    <br />
    <% }) %> <% }) %>

    <div class="chart-container">
      <canvas id="chart"></canvas>
      <canvas id="chart2"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
          let chart;
          let labels;
          let courses;
          let data;

                 courses = <%- JSON.stringify(courses) %>;
                 labels = courses.map(course => course.title);
                 data = courses.map(course => Math.round(course.registeredUsers.length ));

                const ctx = document.getElementById('chart').getContext('2d');

                 chart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels,
                    datasets: [{
                      label: 'USERS PER COURSE',
                      data,
                      backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 3
                    }]
                  },
                  options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      },
                });
    </script>

    <script>
      labels = courses.map((course) => course.title);
      data = courses.map((course) => course.documents.length);

      const ctx2 = document.getElementById("chart2").getContext("2d");

      chart = new Chart(ctx2, {
        type: "bar",
        data: {
          labels,
          datasets: [
            {
              label: "DOCUMENTS UPLOADED PER COURSE",
              data,
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 3,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
