<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <h1>WELCOME TO GUBALT SPIKES</h1>

    <% if (locals.user) { %>
    <h1>SELECTED COURSES</h1>

    <div class="home__container">
      <% for (const course of locals.selectedCourses) { %>

      <div class="home__card">
        <a href="/api/v1/course/details/<%= course.code %>">
          <div>
            <%= course.title %>
            <p><%= course.code %></p>
          </div>
        </a>
        <i class="fa fa-book" aria-hidden="true"></i>
      </div>
      <% } %> <% } %>
    </div>
  </body>
</html>
