<html>
  <%- include('./head.ejs') %>
  <body>
    <%- include('./navbar.ejs') %>
    <h1>Profile</h1>
    <p>Name: <%= user.name %></p>
    <p>Name: <%= user.email %></p>

    <p>Selected Courses:</p>
    <ul>
      <% for (const course of selectedCourses) { %>

      <a href="/api/v1/course/details/<%= course.title %>"
        ><%= course.title %></a
      >
      <% } %>
    </ul>
  </body>
</html>
