<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <h1>CHART PAGE</h1>

    <h1>ALL COURSES TITLE</h1>

    <% courses.forEach(course => { %>
    <p>
      COURSE TITLE: <%= course.title %>
      <span>COURSE CODE: <%= course.code %></span>
    </p>

    <% }) %>

    <h1>DISPLAY ALL COURSES INFORMATION</h1>
    <h1>DISPLAY ALL SUBMISSIONS INFORMATION</h1>

    <h1>DISPLAY SITE INFORMATION AND ANALYTICS BELOW IN CHARTS</h1>

    <div class="chart-container">
      <h1>line</h1>
      <canvas id="line"></canvas>
    </div>

    <div class="chart-container">
      <h1>bar</h1>
      <canvas id="bar"></canvas>
    </div>

    <div class="chart-container">
      <h1>bar2</h1>
      <canvas id="bar2"></canvas>
    </div>

    <script>
      window.courses = <%- JSON.stringify(courses) %>;
      window.users = <%- JSON.stringify(users) %>;
      window.usersByDate = <%- JSON.stringify(usersByDate) %>;
    </script>
    <script src="/js/charts.js"></script>
  </body>
</html>
