<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Profile</h1>
    <p>First Name: <%= user.firstName %></p>
    <p>Last Name: <%= user.lastName %></p>
    <p>Registration Number: <%= user.registrationNumber %></p>
    <p>Phone Number: <%= user.phoneNumber %></p>
    <p>Email: <%= user.email %></p>

    <h1>Selected Courses:</h1>
    <ul>
      <% for (const course of user.selectedCourses) { %>
      <a href="/api/v1/course/details/<%= course.courseId.code %>"
        ><%= course.courseId.code %></a
      >
      <% } %>
    </ul>

    <h1>Downloads:</h1>
    <% for (const download of user.downloads) { %>
    <p>
      Title: <%= download.document.title %> - Download Attempts:
      <%=download.downloadAttempts %> Type: <%=download.document.type %>
      Description: <%=download.document.description %>
    </p>
    <% } %>
  </body>
</html>
