<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="document-page_container">
      <div class="document-info">
        <h1>DOCUMENT DETAILS</h1>

        <h1>Title: <%= document.title %></h1>
        <h1>Heading : <%= document.heading %></h1>
        <h1>Description: <%= document.description %></h1>
        <h1>TYPE: <%= document.type %></h1>
      </div>

      <div class="document-actions">
        <% if (locals.user ) { %>

        <div class="user-actions">
          <a href="/api/v1/course/download/<%= document._id %>">
            <button>
              DOWNLOAD
              <img src="/images/icons/download.png" />
            </button>
          </a>

          <% if (document.type === "assignment") { %>

          <a
            href="/api/v1/course/submission/document/<%= document._id %>/type/assignment"
          >
            <button>
              SUBMIT ASSIGNMENT
              <img src="/images/icons/info.png" />
            </button>
          </a>

          <% } %>
        </div>

        <% } %> <% if (locals.user && (locals.user.role === "admin")) { %>

        <div class="admin-actions">
          <a href="/api/v1/course/document/edit/<%= document._id %>">
            <button>
              EDIT
              <img src="/images/icons/edit.png" />
            </button>
          </a>

          <a>
            <button id="delete" data-doc="<%= document._id %>">
              DELETE
              <img src="/images/icons/delete.png" />
            </button>
          </a>
        </div>

        <% } %>
      </div>
    </div>

    <script>
      const deleteDoc = document.getElementById("delete");

      deleteDoc.addEventListener("click", async (event) => {
        const response = await fetch(
          `/api/v1/course/document/delete/${deleteDoc.dataset.doc}`,
          {
            method: "DELETE",
          }
        )
          .then((response) => response.json())
          .then((data) =>
            setTimeout(function () {
              alert(data.message);
              window.location.href = data.redirect;
            }, 2000)
          )
          .catch((error) => console.log(error));
      });
    </script>
  </body>
</html>
