<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <form
        method="post"
        action="/api/v1/course/document/edit"
        class="container__editDocument"
      >
        <h1>Edit Document Info</h1>
        <input type="hidden" name="id" value="<%= document._id %>" />
        <div class="form-group">
          <label>Course Title:</label>
          <input
            type="text"
            name="title"
            id="title"
            required
            placeholder="Course title:"
            value="<%= document.title %>"
          />
        </div>

        <div class="form-group">
          <label>Heading:</label>
          <input
            type="text"
            name="heading"
            id="heading"
            required
            placeholder="Course Code:"
            value="<%= document.heading %>"
          />
        </div>
        <div class="form-group">
          <label>Description:</label>
          <input
            type="text"
            name="description"
            id="description"
            required
            placeholder="Course Description:"
            value="<%= document.description %>"
          />
        </div>

        <div class="form-group">
          <select name="type" id="type">
            <option value="<%= document.type %>" selected hidden>
              <%= document.type %>
            </option>

            <option value="assignment">assignment</option>
            <option value="note">note</option>
            <option value="aoc">aoc</option>
            <option value="practical">practical</option>
          </select>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
