<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="coursedetails-container">
      <div class="coursedetails-wrapper">
        <h1>COURSE INFO</h1>
        <p>Title: <%= course.title %></p>
        <p>Description: <%= course.description %></p>
        <% if (locals.user.role === "admin") { %>

        <div>
          <button class="edit">
            <a href="/api/v1/course/edit/<%= course._id %>">EDIT INFO </a>
          </button>
          <button data-doc="<%= course._id %>" class="delete">
            DELETE COURSE
          </button>
        </div>
        <% } %>
      </div>
    </div>

    <h1>COURSE MATERIALS:</h1>

    <div class="document-container">
      <% for (let i = 0; i < course.documents.length; i++) { %> <% let document
      = course.documents[i]; %>
      <div class="document-wrapper">
        <p>Document Title: <%= document.title %></p>
        <p>Document Description: <%= document.description %></p>
        <p>Document Type: <%= document.type %></p>
        <div>
          <a href="/api/v1/course/document/<%= document._id %>"
            >VIEW DOCUMENT</a
          >
        </div>
        <div>
          <% if (locals.user.role === "admin") { %>
          <button class="edit">
            <a href="/api/v1/course/document/edit/<%= document._id %>"
              >EDIT DOCUMENT</a
            >
          </button>
          <button class="delete" data-doc="<%= document._id %>">
            DELETE DOCUMENT
          </button>
          <% } %>
        </div>
        <div>
          <a href="/api/v1/course/download/<%= document._id %>"
            >DOWNLOAD DOCUMENT</a
          >
        </div>
      </div>

      <% } %>
    </div>
  </body>
</html>
