<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="coursedetails-container">
      <div class="coursedetails-wrapper">
        <h1>COURSE INFO</h1>
        <p>Title: <%= course.title %></p>
        <p>Description: <%= course.description %></p>
        <% if (locals.user.role === "admin") { %>

        <div class="coursedetails-actions">
          <a href="/api/v1/course/edit/<%= course._id %>">
            <button class="edit">
              EDIT INFO
              <img src="/images/icons/edit.png" />
            </button>
          </a>
          <a href="#">
            <button data-doc="<%= course._id %>" class="delete">
              DELETE COURSE
              <img src="/images/icons/delete.png" />
            </button>
          </a>
        </div>
        <% } %>
      </div>
    </div>

    <h1>COURSE MATERIALS:</h1>

    <div class="document-container">
      <% for (let i = 0; i < course.documents.length; i++) { %> <% let document
      = course.documents[i]; %>
      <div class="document-wrapper">
        <div class="document-header">
          <div class="info">
            <p>Title: <%= document.title %></p>
            <!-- <p>Description: <%= document.description %></p> -->
            <p>Type: <%= document.type %></p>
            <p>updated <%= moment().from(course.updated_at,true) %> ago</p>
          </div>

          <div class="icon">
            <% if (document.type === 'note') { %>
            <img
              src="/images/icons/document.png"
              class="<%= document.type %>"
            />
            <% } else if (document.type === 'assignment') { %>
            <p>
              <img src="/images/icons/info.png" class="<%= document.type %>" />
            </p>
            <% } else if (document.type === 'practical') { %>
            <p>
              <img
                src="/images/icons/practical.png"
                class="<%= document.type %>"
              />
            </p>
            <% } else if (document.type === 'aoc') { %>
            <p>
              <img src="/images/icons/hint.png" class="<%= document.type %>" />
            </p>
            <% } %>
          </div>
        </div>

        <div class="document-actions">
          <a href="/api/v1/course/document/<%= document._id %>">
            <button>
              VIEW
              <img src="/images/icons/view.png" />
            </button>
          </a>
          <a href="/api/v1/course/download/<%= document._id %>">
            <button>
              DOWNLOAD
              <img src="/images/icons/download.png" />
            </button>
          </a>

          <% if (locals.user.role === "admin") { %>

          <a href="/api/v1/course/document/edit/<%= document._id %>">
            <button>
              EDIT
              <img src="/images/icons/edit.png" />
            </button>
          </a>
          <a data-doc="<%= document._id %>">
            <button>
              DELETE
              <img src="/images/icons/delete.png" />
            </button>
          </a>

          <% } %>
        </div>
      </div>

      <% } %>
    </div>
  </body>
</html>
