<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <form
        action="/api/v1/course/submission/document/<%= document._id %>/type/assignment"
        method="post"
        enctype="multipart/form-data"
        class="container__login"
      >
        <h1>Submit Assignment for <%= document.title %></h1>

        <% if (isSubmitted) { %>

        <div class="form-group">
          <input type="file" name="file" disabled />
        </div>
        <button disabled>Already Submitted</button>
        <% } else { %>
        <input type="hidden" name="id" value="<%= document._id %>" />
        <div class="form-group">
          <input type="file" id="file" name="file" />
        </div>
        <button type="submit">Submit</button>
        <% } %>
      </form>
    </div>

    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        try {
          const formData = new FormData(form);
          const response = await fetch(form.action, {
            method: form.method,
            body: formData,
          });
          const data = await response.json();
          if (data.success) {
            showToastifyNotification(
              "success",
              "Document Submitted successfully.",
              data.redirect
            );
            form.reset();
          } else {
            showToastifyNotification("error", data.error);
          }
        } catch (error) {
          console.log(error);
          showToastifyNotification("error", error);
        }
      });

      function showToastifyNotification(type, message, redirectUrl = null) {
        Toastify({
          text: message,
          duration: 3000,
          gravity: "top",
          position: "center",
          backgroundColor: type === "success" ? "#2ecc71" : "#e74c3c",
        }).showToast();

        if (type === "success" && redirectUrl) {
          setTimeout(() => {
            window.location.href = redirectUrl;
          }, 2000);
        }
      }
    </script>
  </body>
</html>
