<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
      <form
        id="upload-form"
        enctype="multipart/form-data"
        class="container__upload"
      >
        <h1>Upload Document</h1>

        <div class="form-group">
          <select name="title" id="title">
            <option value="default" disabled selected>Select Course</option>
            <% course.forEach(element => { %>
            <option value="<%= element.title %>"><%= element.title %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <select name="code" id="code">
            <option value="default" disabled selected>Course code</option>
            <% course.forEach(element => { %>
            <option value="<%= element.code %>">
              <%= element.title %> : <%= element.code %>
            </option>
            <% }) %>
          </select>
        </div>

        <div class="form-group">
          <input
            type="text"
            id="heading"
            name="heading"
            placeholder="Heading:"
          />
        </div>

        <div class="form-group">
          <textarea
            name="description"
            id="description"
            cols="45"
            rows="10"
            placeholder="Description:"
          ></textarea>
        </div>
        <div class="form-group">
          <select name="type" id="type">
            <option value="default" disabled selected>Choose Type</option>
            <option value="assignment">assignment</option>
            <option value="note">note</option>
            <option value="aoc">aoc</option>
            <option value="practical">practical</option>
          </select>
        </div>

        <div class="form-group">
          <!-- <label for="file">Select a File</label> -->
          <input type="file" id="file" name="file" />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password:"
          />
        </div>
        <button type="submit">Upload</button>
      </form>
    </div>
    <script src="/js/upload.js"></script>
  </body>
</html>
